<ul style="background-color: lightslategrey;">

  <li ><a routerLink="/users">Profile</a></li>
  <li><a routerLink="/pans">Pans</a></li>
  <li><a routerLink="/taches">Packs</a></li>
  <li><a routerLink="/companions">Companions</a></li>
  <li><a  routerLink="/contact" >Contact</a></li>
  <li class="clickable" style="float: right;">
    <a (click)="Logout()">Logout</a>
  </li>

</ul>





<div class="panel panel-primary" *ngIf="mode==1">
  <div class="panel-heading">Pan details :</div>
  <div class="panel-body">
    <div class="col-sm-4">
      <div class=" panel panel-primary" style="background-color: darkgray;" >
        <div class="panel-heading">General Infos :</div>
        <div class="panel-body">

          <div class="form-group">
            <label class="control-label">Pan's Name</label>
            <input type="text" class="form-control" disabled="disabled" [(ngModel)]="pan.nom"/>
          </div>

          <div class="form-group">
            <label class="control-label">Type Pan :</label>
            <input type="text" class="form-control" disabled="disabled" [(ngModel)]="pan.typePan"/>
          </div>

          <div class="form-group">
            <label class="control-label">Categorie :</label>
            <input type="text" class="form-control" [(ngModel)]="pan.categorie"/>
          </div>

          <div class="form-group">
            <label class="control-label">double_Face :</label>
            <input type="text" class="form-control" disabled="disabled" [(ngModel)]="pan.double_face"/>
          </div>


          <div class="form-group">
            <label class="control-label">Dimensions :</label>
            <input type="text" class="form-control" disabled="disabled" [(ngModel)]="pan.dimensions"/>
          </div>

        </div>
      </div></div>

    <div class="col-sm-4">
      <div class=" panel panel-primary" style="background-color: darkgray;" >
        <div class="panel-heading">Location :</div>
        <div class="panel-body">


          <div class="form-group">
            <label class="control-label">Pays :</label>
            <input type="text" class="form-control" disabled="disabled" [(ngModel)]="pan.pays"/>
          </div>

          <div class="form-group">
            <label class="control-label">Localité :</label>
            <input type="text" class="form-control" disabled="disabled" [(ngModel)]="pan.localite"/>
          </div>


          <div class="form-group">
            <label class="control-label">Region :</label>
            <input type="text" class="form-control" disabled="disabled" [(ngModel)]="pan.region"/>
          </div>



          <div class="form-group">
            <label class="control-label">Code Postale :</label>
            <input type="text" class="form-control" disabled="disabled" [(ngModel)]="pan.code_postale"/>
          </div>

          <div class="form-group">
            <label class="control-label">Modele :</label>
            <input type="text" class="form-control"  disabled="disabled" [(ngModel)]="pan.modele"/>

            <div class="form-group">
              <input style="float: right;" type="file"
                     id="file"
                     (change)="handleFileInput($event.target.files)">
            </div>
          </div>

        </div></div></div>



    <div class="col-sm-4">
      <div class=" panel panel-primary" style="background-color: darkgray;" >
        <div class="panel-heading">Model :</div>
        <div class="panel-body">
          <img src="./assets/images/bg-01.jpg" alt="Pan Model" height="440" width="400">
        </div></div>
    </div>

    <div class="col-sm-4">
      <div class=" panel panel-primary" style="background-color: darkgray;" >
        <div class="panel-heading">Position :</div>
        <div class="panel-body">

          <div class="form-group">
            <label class="control-label">Adresse :</label>
            <input type="text" class="form-control" disabled="disabled" [(ngModel)]="pan.adresse"/>
          </div>

          <div class="form-group">
            <label class="control-label">Latitude</label>
            <input type="text" class="form-control" disabled="disabled" [(ngModel)]="pan.latitude"/>
          </div>

          <div class="form-group">
            <label class="control-label">Longitude :</label>
            <input type="text" class="form-control" disabled="disabled" [(ngModel)]="pan.longitude"/>
          </div>

          <div class="form-group">
            <label class="control-label">Etat :</label>
            <input type="text" class="form-control" disabled="disabled" [(ngModel)]="pan.etat"/>
          </div>

        </div></div>
    </div>

    <div class="col-sm-8">
      <div class=" panel panel-primary"  >
        <div class="panel-heading">Map :</div>
        <div class="panel-body">

          <agm-map [latitude]="36.718241" [longitude]="3.091969" [zoom]="6">
            <agm-marker [latitude]="pan.latitude" [longitude]="pan.longitude"  >  </agm-marker>

          </agm-map>

        </div></div>
    </div>


    <div>
      <button style="margin-left: 10px; margin-right: 20px; float: right;"  routerLink="/pans">Cancel</button>
      <button style="float: right;" class="btn-primary" (click)="reservPan()">Confirm</button>
    </div>
  </div>
</div>
