<ul style="background-color: lightslategrey;">

  <li ><a routerLink="/users">Profile</a></li>
  <li><a routerLink="/pans">Pans</a></li>
  <li><a routerLink="/taches">Packs</a></li>
  <li><a routerLink="/companions">Companions</a></li>
  <li><a  routerLink="/contact" >Contact</a></li>
  <li class="clickable" style="float: right;">
    <a (click)="Logout()">Logout</a>
  </li>

</ul>



<div style="margin-top: 0px;" class="panel panel-primary">
  <div class="panel-heading">User's List</div>
  <div class="panel-body" >

    <div class="col-sm-2 ">
      <div style="margin-top: 0px;" class="panel panel-primary">
        <div class="panel-body"  style="hight: 500px;">
          <div  class="vertical-menu">
            <a routerLink="/users" class="active">Profile</a>
            <a routerLink="/pans">Pans</a>
            <a routerLink="/reservation">Reservations</a>
            <a routerLink="/reservation">Demandes</a>

            <a routerLink="/message">Messages</a>
            <a routerLink="/notification">Notifications</a>

            <a routerLink="/contrat">Contracts</a>
          </div>
        </div></div>
    </div></div></div>
